token=

# MongoDB (use host.docker.internal inside Docker; localhost for local dev)
MONGO_URI=mongodb://hackbridge_user:password@host.docker.internal:27017/hackbridge?authSource=admin
MONGO_DB=hackbridge

avatar_collection_name=user_avatars_base
